/config/database.php
/node_modules
/public/build
/public/hot
/public/allegati
/public/storage
/public/dist/upload
/public/pdf_read.txt
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
